<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>A swing and a miss!</title>
  </head>
  <body>
    <h1> :O </h1> 
    <h1>You took a wrong turn I guess. No big deal.</h1>
    <p>You should go back to where you came from. Or maybe just go home.</p>
  </body>
</html>