<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>500</title>
  </head>
  <body>
    <h1>500</h1>
    <h2>Our apologies but something unexpected happend.</h2> <h1> :( </h1> 
    <p>This error was caused by us, <i>not</i> from your use of this application. Please navigate back home and try your request again.</p>
    {% if response %} <p> ({{response}}) </p> {% endif %}
  </body>
</html>